@import "tailwindcss";

/* Parent div that holds the spinner */
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
 
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid transparent;
  border-top: 8px solid blue;   /* visible arc */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

/* keyframes for spinner rotation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}